body {
  margin: 0;
  overflow-X: hidden;
  font-family: "Raleway","Roboto","Helvetica",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: rgba(18, 18, 26, 1);
  background-image: url('http://artlantis-media.ru/static/img/0000/0002/7260/27260842.qvpm616fga.png');
  background-blend-mode: overlay;
  background-size: 15%;
}
::-webkit-scrollbar {
  display: none;
}

/*Grid Wrapper*/

#home {
  color: #aaaaaf;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px;
  display: block;
  transition: transform 0.5s ease-in-out;
  > {
    section {
      position: relative;
    }
    .header > div {
      position: relative;
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
      text-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    }
    .pagetag {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px 15px;
      font-size: 0.8em;
      color: rgba(96, 78, 177, 1);
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/profile.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
  }
  h2 {
    font-weight: 300;
    letter-spacing: 0.07em;
    margin-left: -20px;
  }
  h5 {
    margin-top: -20px;
    font-weight: 400;
    letter-spacing: 1.9em;
  }
  h2 > span {
    &:first-child {
      font-size: 3em;
    }
    &:nth-child(2) {
      font-size: 2em;
      margin-left: -0.2em;
      font-weight: 400;
    }
  }
}

/*Heading*/

#grid_wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 60px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin-left: -100px;
  position: relative;
  &.init > card {
    transform: scale(0);
  }
  > card {
    display: block;
    width: 25%;
    height: 200px;
    float: left;
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
    padding: 20px;
    box-sizing: border-box;
    > div {
      color: #aaaaaf;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: relative;
      transition: box-shadow 0.3s;
      overflow: hidden;
      border: 1px solid rgba(66, 76, 119, 0.1);
      box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

#content_wrapper > .clone {
  color: #aaaaaf;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transition: box-shadow 0.3s;
  overflow: hidden;
  border: 1px solid rgba(66, 76, 119, 0.1);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
}

#grid_wrapper > card > div {
  &.active {
    opacity: 0;
  }
  &:hover {
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.25);
  }
  &:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%;
    background-position: 50% 50%;
    background-blend-mode: overlay;
    background-image: url("https://emersonkeeling.files.wordpress.com/2015/12/ahfod.gif");
    background-color: rgba(43, 26, 119, 0.25);
    transition: all 0.2s;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    -ms-filter: blur(3px);
  }
}

#content_wrapper > .clone:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  background-image: url("https://emersonkeeling.files.wordpress.com/2015/12/ahfod.gif");
  background-color: rgba(43, 26, 119, 0.25);
  transition: all 0.2s;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  -ms-filter: blur(3px);
}

#grid_wrapper > card > div > span, #content_wrapper > .clone > span {
  width: 100%;
  height: 50px;
  margin-top: -25px;
  top: 50%;
  position: absolute;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  opacity: 1;
}

/*End of Section*/

/*NavBar Style*/

/*Comes up only when you're open in a section*/

nav.main {
  overflow-X: auto;
  overflow-Y: visible;
  z-index: +25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: block;
  white-space: nowrap;
}

body:after {
  /* background: linear-gradient(90deg, rgba(190,78,114,1) 0%, rgba(254,117,98,1) 33.33%, rgba(86,72,105,1) 66.66%,  rgba(126,70,99,1) 100%) */
  background-image: linear-gradient(90deg, rgba(107, 208, 228, 1) 0%, rgba(96, 78, 177, 1) 33%, rgba(200, 142, 102, 1) 66%, rgba(201, 85, 169, 1) 100%);
  /* w3c */
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 5px;
  z-index: +30;
}

#footer {
  &:after, &:before {
    /* background: linear-gradient(90deg, rgba(190,78,114,1) 0%, rgba(254,117,98,1) 33.33%, rgba(86,72,105,1) 66.66%,  rgba(126,70,99,1) 100%) */
    background-image: linear-gradient(90deg, rgba(107, 208, 228, 1) 0%, rgba(96, 78, 177, 1) 33%, rgba(200, 142, 102, 1) 66%, rgba(201, 85, 169, 1) 100%);
    /* w3c */
    content: "";
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 5px;
    z-index: +30;
  }
}

nav.main {
  &.inactive > .tab {
    transform: rotateX(90deg) translateY(-25px);
  }
  > .tab {
    transform-origin: 50% 0% 0px;
    background: #fff;
    box-sizing: border-box;
    /* border-top:5px solid; */
    font-weight: 600;
    font-size: 0.9em;
    color: #161725;
    display: inline-block;
    width: 15%;
    text-align: center;
    line-height: 45px;
    height: 100%;
    border-top: rgba(0, 0, 0, 0.5) 5px solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    &.active {
      z-index: +5000;
      > span {
        background: #d5d5d5;
      }
    }
    > span {
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 100%;
      display: block;
      transform: line-height 0.2s;
    }
    &:not(.active) > span:hover {
      background: #dadada;
    }
    &:after {
      content: "";
      top: 0;
      right: 0;
      position: absolute;
      border-top: 0px solid transparent;
      border-bottom: 50px solid transparent;
      border-right: 0px solid rgba(0, 0, 0, 0.05);
      transition: all 0.2s;
    }
    &:hover:after {
      content: "";
      right: 0;
      position: absolute;
      border-top: 0px solid transparent;
      border-bottom: 55px solid transparent;
      border-right: 10px solid rgba(0, 0, 0, 0.1);
    }
  }
}

/*End of Section*/

/*Ripple Styling*/

.ripple {
  position: fixed;
  animation: ripple 1s 1 ease-out;
  background: rgba(0, 0, 0, 0.5);
  margin: -250px;
  width: 500px;
  height: 500px;
  transform: scale(10);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

/*One for the BIIIIG ONE!*/

.mega.ripple {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0);
  }
}


/*End of Section*/

/*This one Wraps content of the tabs*/

#content_wrapper {
  &.inactive {
    pointer-events: none;
    > div.clone {
      animation: flipClose 0.7s 0s 1 cubic-bezier(0, 0, 0, 1);
      transform: translate(-50%, -50%);
      position: absolute;
    }
    > button {
      opacity: 0;
    }
  }
  position: fixed;
  z-index: +20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  perspective: 1000px;
  > div {
    &.content {
      z-index: +50;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      display: block;
      box-sizing: border-box;
      padding: 5%;
      padding-top: 100px;
    }
    &.clone {
      &.deactivate {
        background: linear-gradient(#14151a, #161725);
        > span {
          font-size: 50em;
          opacity: 0;
          animate: blow 0.5s 0s cubic-bezier(0, 0, 0, 1);
        }
        &:before {
          animation: fadeOut 0.25s 0s 1 cubic-bezier;
          opacity: 0;
        }
      }
      width: 100%;
      height: 100%;
      transform-origin: 50% 50%;
      position: absolute;
      transform-origin: 50% 50%;
      transform: translate(-50%, -50%) rotateY(180deg);
      animation: flipOpen 0.5s 0s 1 cubic-bezier(0, 0, 0, 1);
    }
  }
  > div.content > section {
    &.active {
      opacity: 1;
      transform: none;
    }
    color: #aaa;
    position: absolute;
    top: 100px;
    left: 5%;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-100px);
  }
  > button {
    z-index: +100;
    transition: opacity 0.2s 1s;
    padding: 20px;
    font-family: "FontAwesome";
    color: white;
    font-size: 1.2em;
    background: none;
    outline: none;
    border: none;
    position: fixed;
    top: 60px;
    right: 0;
    cursor: pointer;
  }
}

@keyframes blow {
  to {
    font-size: 50em;
    opacity: 0;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
}


@keyframes flipOpen {
  from {
    transform: translate(-50%, -50%);
  }
}


@keyframes flipClose {
  from {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}


/*End of Section*/

/*Footer Design*/

#footer {
  font-size: 0.9em;
  position: relative;
  margin-top: 200px;
  width: 100%;
  height: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  z-index: +15;
  &:before {
    position: absolute;
    top: 0;
    height: 3px;
  }
  &:after {
    position: absolute;
    bottom: 1px;
    top: unset;
    height: 3px;
  }
}

/*contact me scss*/

#section8{
   width:100%;
  margin-left: -69px;
    background: #efefef;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #B6B6B6;
    #hire {
      background: white;
      margin: 60px auto 120px;
      border-top: 15px solid #313A3D;
      text-align: center;
      padding: 50px 0 110px;
      width: 80%;
      max-width: 1100px;
      h1 {
        margin-bottom: 40px;
        font-size: 4em;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
      }
    }
  }

  form {
    width: 58.3333333333%;
    margin: 0 auto;
    .field {
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      label {
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        background: #313A3D;
        width: 100%;
        padding: 18px 0;
        font-size: 1.45em;
        letter-spacing: 0.075em;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out;
        + span {
          font-family: 'SSStandard';
          opacity: 0;
          color: white;
          display: block;
          position: absolute;
          top: 12px;
          left: 7%;
          font-size: 2.5em;
          text-shadow: 1px 2px 0 #cd6302;
          -webkit-transition: all 333ms ease-in-out;
          -moz-transition: all 333ms ease-in-out;
          -o-transition: all 333ms ease-in-out;
          -ms-transition: all 333ms ease-in-out;
          transition: all 333ms ease-in-out;
        }
      }
      input[type="text"], textarea {
        border: none;
        background: #E8E9EA;
        width: 80.5%;
        margin: 0;
        padding: 18px 0;
        padding-left: 19.5%;
        color: #313A3D;
        font-size: 1.4em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      input[type="text"]#msg, textarea#msg {
        height: 18px;
        resize: none;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out;
      }
      input[type="text"] {
        &:focus, &.focused {
          outline: none;
        }
      }
      textarea {
        &:focus, &.focused {
          outline: none;
        }
      }
      input[type="text"] {
        &:focus#msg, &.focused#msg {
          padding-bottom: 150px;
        }
      }
      textarea {
        &:focus#msg, &.focused#msg {
          padding-bottom: 150px;
        }
      }
      input[type="text"] {
        &:focus + label, &.focused + label {
          width: 18%;
          background: #FD9638;
          color: #313A3D;
        }
      }
      textarea {
        &:focus + label, &.focused + label {
          width: 18%;
          background: #FD9638;
          color: #313A3D;
        }
      }
      input[type="text"].focused + label, textarea.focused + label {
        color: #FD9638;
      }
      &:hover label {
        width: 18%;
        background: #313A3D;
        color: white;
      }
    }
    input[type="submit"] {
      background: #FD9638;
      color: white;
      -webkit-appearance: none;
      border: none;
      text-transform: uppercase;
      position: relative;
      padding: 13px 50px;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out;
      &:hover {
        background: #313A3D;
        color: #FD9638;
      }
      &:focus {
        outline: none;
        background: #cd6302;
      }
    }
  }

//section6 ---------------------------------------------------------------------------------

#section6{
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
    position: relative;
   // overflow-x: hidden!important;
    font-family: 'Quicksand', sans-serif;
  top: 20px !important;
  a, a:hover {
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%);
      opacity: 0.9;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }

  }

  .item-bg {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
    opacity: 0;
    transition: all .3s;
    left: -30px;
    //left: 50%;
    //transform: translateX(-50%);

    &.active {
      left: -72px;
      top: 0;
      opacity: 1;
    }

  }

  .news {

    &-slider {
      z-index: 2;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;

      @media screen and (max-width: 1300px){
        max-width: 1000px;
      }

      @media screen and (max-width: 576px) {
        margin-top: 45px;
      }

      &__wrp {
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 2;
      }

      &__item {
        width: 400px;
        flex-shrink: 0;
        //padding: 15px;

        @media screen and (max-width: 992px) {
          width: 340px;
        }

        &.swiper-slide {
          opacity: 0;
          pointer-events: none;
          transition: all .3s;
        }

        &.swiper-slide-active,
        &.swiper-slide-prev,
        &.swiper-slide-next {
          opacity: 1;
          pointer-events: auto;
        }


      }

      &__ctr {
        position: relative;
        z-index: 12;
      }

      &__arrow {
        background: #fff;
        border: none;
        display: inline-flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        z-index: 12;
        cursor: pointer;
        outline: none!important;

        &:focus {
          outline: none!important;
        }

        .icon-font {
          display: inline-flex;
        }

        &.news-slider-prev {
          left: 15px;
          transform: translateY(-50%);
        }

        &.news-slider-next {
          right: 15px;
          transform: translateY(-50%);
        }

      }

      &__pagination {
        text-align: center;
        margin-top: 50px;

        // @media screen and (max-width: 576px) {
        //   margin-top: 50px;
        // }

        .swiper-pagination-bullet {
          width: 13px;
          height: 10px;
          display: inline-block;
          background: #fff;
          opacity: .2;
          margin: 0 5px;
          border-radius: 20px;
          transition: opacity .5s, background-color .5s, width .5s;
          transition-delay: .5s, .5s, 0s;
        }

        .swiper-pagination-bullet-active {
          opacity: 1;
          background: #ffffff;
          width: 100px;
          transition-delay: 0s;

          @media screen and (max-width: 576px) {
            width: 70px;
          }

        }
      }

    }

    &__item {
      padding: 40px;
      color: #fff;
      border-radius: 10px;
      display: block;
      transition: all .3s;

      @media screen and (min-width: 800px) {
        &:hover {
          color: #222222;
          transition-delay: .1s;
          //background: #fff;
          //box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);

          .news-date,.news__title,.news__txt {
            opacity: 1;
            transition-delay: .1s;
          }

          .news__img {
            box-shadow: none;
          }

        }
      }



      &.active {
        color: #222222;

        .news-date,.news__title,.news__txt {
          opacity: 1;
        }

        .news__img {
          box-shadow: none;
        }

      }

      @media screen and (max-width: 992px) {
        padding: 30px;
      }

      @media screen and (max-width: 576px) {
        padding: 20px;
      }

    }

    &-date {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid;
      display: inline-block;
      opacity: .7;
      transition: opacity .3s;

      @media screen and (max-width: 576px) {
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
        padding-bottom: 0;
      }

      &__title {
        display: block;
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 500;

        @media screen and (max-width: 576px) {
          margin-right: 10px;
        }

      }

      &__txt {
        font-size: 16px;
      }

    }

    &__title {
      font-size: 25px;
      font-weight: 500;
      opacity: .7;
      margin-top: 10px;
      margin-bottom: 15px;
      transition: opacity .3s;

      @media screen and (max-width: 576px) {
        font-size: 22px;
        margin-bottom: 10px;
      }

    }

    &__txt {
      margin: 10px 0;
      line-height: 1.6em;
      font-size: 15px;
      opacity: .7;
      transition: opacity .3s;
    }

    &__img {
      border-radius: 10px;
      box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
      height: 200px;
      margin-top: 30px;
      width: 100%;
      transition: all .3s;
      transform-origin: 0% 0%;

      @media screen and (max-width: 576px) {
        height: 180px;
        margin-top: 20px;
      }

      img {
        max-width: 100%;
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }

    }


  }

}

